#container {
    max-width: 576px;
    margin: auto;
    font-family: 'Outfit', sans-serif;
    text-align: center;
}

p{
    opacity: 0.7;
    font-weight: 400; 
    font-size: 35px;
}

h1{
    font-size: 50px;
    font-weight: 700;

}

img {
    border-radius: 20px;
}